absl-py==0.12.0
aido-protocols-daffy==6.0.41
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
astunparse==1.6.3
async-timeout==3.0.1
atari-py==0.2.6
attrs==21.2.0
base58==1.0.3
beautifulsoup4==4.7.1
blessings==1.7
cachetools==4.2.2
carnivalmirror==0.6.2
cbor2==5.2.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
cmake==3.18.4.post1
colorama==0.4.4
coloredlogs==15.0
colorful==0.5.4
coverage==5.5
cycler==0.10.0
dataclasses==0.6
dataclasses-json==0.5.3
decorator==4.4.2
dm-tree==0.1.6
-e git+https://github.com/duckietown/gym-duckietown.git@f7e9252b1c7a91a959b2d504f1a031a4d018f124#egg=duckietown_gym_daffy
duckietown-serialization-ds1==1.0.10
duckietown-world-daffy==6.2.18
filelock==3.0.12
flatbuffers==1.12
freetype-py==2.2.0
frozendict==2.0.2
future==0.18.2
gast==0.3.3
gltflib==1.0.8
google==3.0.0
google-api-core==1.26.3
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.32.0
gym==0.18.0
h5py==2.10.0
hiredis==2.0.0
humanfriendly==9.1
idna==2.10
imageio==2.9.0
importlib-metadata==4.0.1
jsonschema==3.2.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lxml==4.6.3
lz4==3.1.3
Markdown==3.3.4
marshmallow==3.11.1
marshmallow-enum==1.5.1
matplotlib==3.4.1
morphys==1.0
msgpack==1.0.2
multidict==5.1.0
mypy==0.812
mypy-extensions==0.4.3
networkx==2.5.1
nose==1.3.7
numpy==1.19.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencensus==0.7.12
opencensus-context==0.1.2
opencv-python==4.5.1.48
opencv-python-headless==4.3.0.36
opt-einsum==3.3.0
oyaml==1.0
packaging==20.9
pandas==1.2.4
Pillow==8.1.1
plotly==4.14.3
prometheus-client==0.10.1
protobuf==3.16.0
psutil==5.8.0
py-cid==0.3.0
py-multibase==1.0.3
py-multicodec==0.2.1
py-multihash==0.2.3
py-spy==0.3.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybase64==1.1.4
PyContracts3==3.0.2
PyGeometry-z6==2.0.5
pyglet==1.5.0
PyOpenGL==3.1.0
pyparsing==2.4.7
pyrender==0.1.45
pyrsistent==0.17.3
python-baseconv==1.2.2
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.0.3
ray==1.3.0
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7.2
scikit-image==0.18.1
scipy==1.6.3
seaborn==0.11.1
six==1.15.0
soupsieve==2.2.1
stringcase==1.2.0
svgwrite==1.4.1
tabulate==0.8.9
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
tensorflow==2.5.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
tifffile==2021.4.8
torch==1.8.1
torchvision==0.9.1
tqdm==4.60.0
trimesh==3.9.15
typed-ast==1.4.3
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.26.5
validate-email==1.3
varint==1.0.2
webcolors==1.11.1
Werkzeug==1.0.1
wrapt==1.12.1
xtermcolor==1.3
yarl==1.6.3
zipp==3.4.1
zuper-commons-z6==6.1.7
zuper-ipce-z6==6.0.36
zuper-nodes-z6==6.1.1
zuper-typing-z6==6.1.8
